.mainImage img {
    width: 100%;
}

.sliderItem {
    display: inline-block;
    width: 300px;
    margin: 100px;
}

.bestSeller {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.bestSeller .gird4 {
    margin-top: 20px;
}

.bestSellerItem {
    display: inline-block;
    width: 100%;
}

.productLink {
    color: black !important;
}

.mainHeader {
    margin-top: 150px;
    font-size: 38px;
    text-align: left;
}
